<a href="https://colab.research.google.com/github/yuuu0129/Introduction-to-Computers/blob/main/0516.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
i= range(5)

In [ ]:
print(type(i))

<class 'range'>

In [ ]:
print(i)

range(0, 5)

In [ ]:
print(list(i))

[0, 1, 2, 3, 4]

In [ ]:
a = range(3,8)
print(list(a))

[3, 4, 5, 6, 7]

In [ ]:
b = range(-2,4)
print(list(b))

[-2, -1, 0, 1, 2, 3]

In [ ]:
c = range(3,8,1)
d = range(3,8,2)
e = range(8,3,-1)
print(list(c))
print(list(d))
print(list(e))

[3, 4, 5, 6, 7]
[3, 5, 7]
[8, 7, 6, 5, 4]

In [ ]:
f = range(9)
g = range(1,10)
h = range(1,10,2)
i = range(10,1,-2)
print(list(f))
print(list(g))
print(list(h))
print(list(i))

[0, 1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[10, 8, 6, 4, 2]

In [ ]:
for n in range(10):
    print(n, end=",")

0,1,2,3,4,5,6,7,8,9,

In [ ]:
for n in range(0,10,2):
    print(n, end=",")

0,2,4,6,8,

In [ ]:
j =int(input("請輸入一個正整數"))
for n in range(1,j+1):
    print(n, end=" ")

請輸入一個正整數5
1 2 3 4 5

In [ ]:
sum = 0
for n in range(3):
    sum =sum+n
print(sum)

3

In [ ]:
sum = 0
for n in range(10,1,-2):
    sum = sum+n
print(sum)

30

In [ ]:
sum = 0
l = int(input("請輸入一個正整數："))
for n in range(1,l+1):
    sum = sum+n
print("1到",l,"的整數和為",sum)

請輸入一個正整數：10
1到 10 的整數和為 55

In [60]:
sum = 0
m = int(input("請輸入一個正整數："))
for n in range(1,o+1):
    sum = sum+n
    print("1到",sum,"的整數和為:",sum)

請輸入一個正整數：10
1到 1 的整數和為 1
1到 3 的整數和為 3
1到 6 的整數和為 6
1到 10 的整數和為 10
1到 15 的整數和為 15
1到 21 的整數和為 21
1到 28 的整數和為 28
1到 36 的整數和為 36
1到 45 的整數和為 45
1到 55 的整數和為 55